@model FoodDTO[]
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/content/lib/html5.js"></script>
    <script type="text/javascript" src="~/content/lib/respond.min.js"></script>
    <script type="text/javascript" src="~/content/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="~/content/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="~/content/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
    <link href="~/content/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>食物管理</title>
</head>
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 后勤管理 <span class="c-gray en">&gt;</span> 食物管理 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="pd-20">
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
                <a href="javascript:;" onclick="food_add('添加食材','/Food/Add','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加食材</a>
            </span>
            <span class="r">共有数据：<strong>@Model.Count()</strong> 条</span>
        </div>
        <div class="mt-20">
            <form id="formList">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                        <tr>
                            <th scope="col" colspan="5">食材管理</th>
                        </tr>
                        <tr class="text-c">
                            <th><input type="checkbox" value="" name=""></th>

                            <th>名称</th>
                            <th>单位</th>
                            <th>供应商</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="text-c">
                                <td><input type="checkbox" value="@item.Id" name="selectedIds"></td>
                                <td>@item.Name</td>
                                <td>@item.Unit</td>
                                <td>@item.Supplier</td>
                                <td class="f-14">
                                    <a title="入库记录" href="javascript:;" onclick="show_index('入库记录','/Food/BuyRecordsList/@item.Id')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe60c;</i></a>
                                    <a title="删除" href="javascript:;" onclick="food_del(this,@item.Id)" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
            </div>
        </div>
        <script type="text/javascript" src="~/content/lib/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="~/content/lib/icheck/jquery.icheck.min.js"></script>
        <script type="text/javascript" src="~/content/lib/Validform/5.3.2/Validform.min.js"></script>
        <script type="text/javascript" src="~/content/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="~/content/lib/layer/1.9.3/layer.js"></script>
        <script type="text/javascript" src="~/content/js/H-ui.js"></script>
        <script type="text/javascript" src="~/content/js/H-ui.admin.js"></script>
        <script type="text/javascript">
            $(function () {
                $('.table-sort').dataTable({
                    "aaSorting": [[1, "desc"]],//默认第几个排序
                    "bStateSave": true,//状态保存
                    "aoColumnDefs": [
                        //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                        { "orderable": false, "aTargets": [0, 2,3, 4] }// 制定列不参与排序
                    ]
                });
            })

            /*批量删除*/
            function datadel() {
                //layer.msg('功能开发中,敬请期待!', { icon: 1, time: 3000 });

                var vals = [];
                $('input[name="selectedIds"]:checked').each(function (index, item) {
                    vals.push($(this).val());
                });
                if (vals.length <= 0) {
                    layer.msg('未选中任何信息!', { icon: 2, time: 3000 });
                    return;
                }

                layer.confirm('确认要批量删除吗？', function (index) {
                    //var formData = $("#formList").serializeArray();
                    $.ajax({
                        url: "/Food/PatchDel",
                        type: "post",
                        dataType: "json",
                        data: { selectedIds: vals },
                        success: function (data) {
                            if (data.status == "ok") {
                                layer.msg('已删除!', { icon: 1, time: 3000 }, function () {
                                    location.reload();//刷新页面
                                });
                            }
                            else {
                                layer.msg('删除失败!' + data.errorMsg, { icon: 2, time: 3000 });
                            }
                        },
                        error: function (data) {
                            //alert(data.error);
                            layer.msg('网络请求失败!', { icon: 2, time: 3000 });
                        }
                    });
                });
            }

            /*food-添加*/
            function food_add(title, url, w, h) {
                layer_show(title, url, w, h);
            }
            /*food-查看入库记录*/
            function show_index(title, url, w, h) {
                layer_show(title, url, w, h);
            }

            /*-删除*/
            function food_del(obj, id) {
                layer.confirm('确认要删除吗？', function (index) {
                    //此处请求后台程序，下方是成功后的前台处理……
                    $.ajax({
                        type: "post",
                        url: "/Food/Delete",
                        data: { id: id },
                        success: function (data) {
                            if (data.status == "ok") {
                                layer.msg('已删除!', { icon: 1, time: 3000 }, function () {
                                    location.replace(location.href);
                                });
                            }
                            else {
                                layer.msg('删除失败!', { icon: 2, time: 3000 });
                            }
                        },
                        error: function (data) {
                            //alert(data.error);
                            layer.msg('网络请求失败!', { icon: 2, time: 3000 });
                        }
                    });
                });
            }
        </script>
</body>
</html>

