@model AddNewInfoViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>信息采集</title>
    <link href="~/content/stuAdd/fonts/iconfont.css" rel="stylesheet" />
    <link href="~/content/stuAdd/css/bass.css" rel="stylesheet" />
    <link href="~/content/stuAdd/css/index.css" rel="stylesheet" />

    <link href="~/content/LCalendar/css/LCalendar.css" rel="stylesheet" />
    <link href="~/content/stuAdd/css/mobileSelect.css" rel="stylesheet" />
    <link href="~/hui/css/hui.css" rel="stylesheet" />
    <style>
        div {
            overflow: visible
        }
    </style>
</head>
<body>
    <div>
        <header>
            <div class="header">
                <h1>信息采集</h1>
                <a href="#" class="return"><i class="icon-16"></i></a>
            </div>
        </header>
        <div style="height: 2.5rem;"></div>
    </div>
    <!-- 详情 firmDetails -->
    <div class="firmDetails">

        <div class="firmD-tab" style="overflow: hidden">
            <!-- tab nav -->
            <ul id="tab_btn" class="tab-list">
                <li class="pick">基本信息</li>
                <li><span class="bar"></span>家庭信息</li>
                <li><span class="bar"></span>其他信息</li>
            </ul>
        <!-- tab nav end-->
            <form id="formAdd" method="post" enctype="multipart/form-data">
                <input type="hidden" name="userId" value="@Model.UserId">
                <ul>

                    <li class="tab_content show">
                        <ul class="setFirm-box">
                            <div class="enterFor">
                                <li>
                                    <label>姓名<span style="color: red">*</span></label>
                                    <input type="text" placeholder="请输入幼儿姓名" name="name" id="name">
                                    
                                </li>
                                @if (Model.ShowChooseClass)
                                {
                                    <li>
                                        <label>所在班级</label>
                                        <input type="text" readonly="readonly" id="ClassNames" placeholder="请选择">
                                        <input type="hidden" readonly="readonly" id="ClassId" name="ClassId">
                                    </li>
                                }
                                <li>
                                    <label>性别<span style="color: red">*</span></label>
                                    <div class="group-T" style="padding-left: 3.5rem;">
                                        <input type="radio" class="radio-la" name="gender" id="gender-0" hidden checked="checked" value="false"><label for="gender-0" class="group-T-l icon-uniE940">男</label>
                                        <input type="radio" class="radio-la" name="gender" id="gender-1" hidden value="true"><label for="gender-1" class="group-T-l icon-uniE940">女</label>
                                    </div>
                                </li>
                                <li>
                                    <label>出生日期<span style="color: red">*</span></label>
                                    <input type="text" name="birthDate" id="BirthDate" readonly="readonly" >
                                    
                                </li>
                                <li>
                                    <label>证件类型<span style="color: red">*</span></label>
                                    <input type="text" readonly="readonly" id="IdCardTypes" placeholder="请选择">
                                    <input type="hidden" readonly="readonly" id="IdCardTypeId" name="idCardTypeId" >
                                    
                                </li>
                                <li>
                                    <label>证件号码<span style="color: red">*</span></label>
                                    <input type="text" placeholder="填写证件号码" name="idCardNum" id="IdCardNum">
                                </li>
                                <li>
                                    <label>血型<span style="color: red">*</span></label>
                                    <input type="text" readonly="readonly" id="BloodTypes" placeholder="请选择">
                                    <input type="hidden" readonly="readonly" id="BloodTypeId" name="BloodTypeId" >
                                    
                                </li>
                                <li>
                                    <label>国籍<span style="color: red">*</span></label>
                                    <input type="text" readonly="readonly" id="Countries" placeholder="请选择">
                                    <input type="hidden" readonly="readonly" id="CountryId" name="CountryId" >
                                    
                                </li>
                                <li>
                                    <label>民族<span style="color: red">*</span></label>
                                    <input type="text" readonly="readonly" id="Nations" placeholder="请选择">
                                    <input type="hidden" readonly="readonly" id="NationId" name="NationId">
                                    
                                </li>
                                <li>
                                    <label>港澳台侨<span style="color: red">*</span></label>
                                    <input type="text" readonly="readonly" id="Identities" placeholder="请选择">
                                    <input type="hidden" readonly="readonly" id="IdentityId" name="IdentityId" >
                                   
                                </li>
                                <li>
                                    <label>出生地<span style="color: red">*</span></label>
                                    <input type="text" readonly="readonly" id="btnBirth" placeholder="请选择">
                                    <input type="hidden" id="BirthPlaceId" name="BirthPlaceId" required />
                                   
                                </li>
                                <li>
                                    <label>籍贯<span style="color: red">*</span></label>
                                    <input type="text" name="PriginPlace" id="PriginPlace" placeholder="请输入籍贯" >
                                    
                                </li>
                                <li>
                                    <label>户口性质<span style="color: red">*</span></label>
                                    <input type="text" readonly="readonly" id="HuKouXingZhi" placeholder="请选择">
                                    <input type="hidden" readonly="readonly" id="HuKouXingZhiId" name="HuKouXingZhiId" >
                                </li>
                                <li>
                                    <label>非农类型</label>
                                    <input type="text" readonly="readonly" id="FeiNongHuKouTypes" placeholder="请选择">
                                    <input type="hidden" readonly="readonly" id="FeiNongHuKouTypeId" name="FeiNongHuKouTypeId">
                                </li>
                                <li>
                                    <label>户口地<span style="color: red">*</span></label>
                                    <input type="text" readonly="readonly" id="btnHuKou" placeholder="请选择">
                                    <input type="hidden" id="HuKouPlaceId" name="HuKouPlaceId" />
                                </li>
                                <li>
                                    <label>现住址<span style="color: red">*</span></label>
                                    <input type="text" name="HomePlace" id="HomePlace" placeholder="请输入现住址" >
                                </li>
                                <li>
                                    <label>就读方式<span style="color: red">*</span></label>
                                    <input type="text" readonly="readonly" id="StudyTypes" placeholder="请选择">
                                    <input type="hidden" readonly="readonly" id="StudyTypeId" name="StudyTypeId" >
                                </li>
                                <li>
                                    <label>独生子女<span style="color: red">*</span></label>
                                    <div class="group-T" style="padding-left: 3.5rem;">
                                        <input type="radio" class="radio-la" name="IsOnlyBaby" id="IsOnlyBaby-0" hidden checked="checked" value="false"><label for="IsOnlyBaby-0" class="group-T-l icon-uniE940">否</label>
                                        <input type="radio" class="radio-la" name="IsOnlyBaby" id="IsOnlyBaby-1" hidden value="true"><label for="IsOnlyBaby-1" class="group-T-l icon-uniE940">是</label>
                                    </div>
                                </li>
                                <li>
                                    <label>留守儿童<span style="color: red">*</span></label>
                                    <input type="text" readonly="readonly" id="IsStayAtHome" placeholder="请选择">
                                    <input type="hidden" readonly="readonly" id="IsStayAtHomeId" name="IsStayAtHomeId" >
                                </li>
                                <li>
                                    <label>进城务工<span style="color: red">*</span></label>
                                    <div class="group-T" style="padding-left: 3.5rem;">
                                        <input type="radio" class="radio-la" name="IsFollowWorkInCity" id="IsFollowWorkInCity-0" hidden checked="checked" value="false"><label for="IsFollowWorkInCity-0" class="group-T-l icon-uniE940">否</label>
                                        <input type="radio" class="radio-la" name="IsFollowWorkInCity" id="IsFollowWorkInCity-1" hidden value="true"><label for="IsFollowWorkInCity-1" class="group-T-l icon-uniE940">是</label>
                                    </div>
                                </li>
                                <li>
                                    <label>健康状况<span style="color: red">*</span></label>
                                    <input type="text" readonly="readonly" id="HealthyTypes" placeholder="请选择">
                                    <input type="hidden" readonly="readonly" id="HealthyTypeId" name="HealthyTypeId" >
                                </li>
                                <li>
                                    <label>是否残疾<span style="color: red">*</span></label>
                                    <div class="group-T" style="padding-left: 3.5rem;">
                                        <input type="radio" class="radio-la" name="IsDisability" id="IsDisability-0" hidden checked="checked" value="false"><label for="IsDisability-0" class="group-T-l icon-uniE940">否</label>
                                        <input type="radio" class="radio-la" name="IsDisability" id="IsDisability-1" hidden value="true"><label for="IsDisability-1" class="group-T-l icon-uniE940">是</label>
                                    </div>
                                </li>
                                <li>
                                    <label>残疾类别</label>
                                    <input type="text" readonly="readonly" id="DisabilityTypes" placeholder="请选择">
                                    <input type="hidden" readonly="readonly" id="DisabilityTypeId" name="DisabilityTypeId">
                                </li>
                                <li>
                                    <label>是否孤儿<span style="color: red">*</span></label>
                                    <div class="group-T" style="padding-left: 3.5rem;">
                                        <input type="radio" class="radio-la" name="IsOrphan" id="IsOrphan-0" hidden checked="checked" value="false"><label for="IsOrphan-0" class="group-T-l icon-uniE940">否</label>
                                        <input type="radio" class="radio-la" name="IsOrphan" id="IsOrphan-1" hidden value="true"><label for="IsOrphan-1" class="group-T-l icon-uniE940">是</label>
                                    </div>
                                </li>

                                <div class="cl"></div>
                            </div>
                        </ul>
                    </li>
                    <li class="tab_content">
                        <ul class="setFirm-box">
                            <div class="enterFor">
                                <li>
                                    <label>监护人<span style="color: red">*</span></label>
                                    <input type="text" placeholder="请输入监护人姓名" name="GuardianName" id="GuardianName" >
                                </li>
                                <li>
                                    <label>证件类型<span style="color: red">*</span></label>
                                    <input type="text" readonly="readonly" id="GuardianCardTypes" placeholder="请选择">
                                    <input type="hidden" readonly="readonly" id="GuardianCardTypeId" name="GuardianCardTypeId" >
                                </li>
                                <li>
                                    <label>证件号码<span style="color: red">*</span></label>
                                    <input type="text" placeholder="请输入监护人证件号码" name="GuardianCardNum" id="GuardianCardNum" >
                                </li>
                                <li>
                                    <label>父亲姓名</label>
                                    <input type="text" placeholder="请输入父亲姓名" name="FatherName" id="FatherName">
                                </li>
                                <li>
                                    <label>证件类型</label>
                                    <input type="text" readonly="readonly" id="FatherCardTypes" placeholder="请选择">
                                    <input type="hidden" readonly="readonly" id="FatherCardTypeId" name="FatherCardTypeId">
                                </li>
                                <li>
                                    <label>证件号码</label>
                                    <input type="text" placeholder="请输入父亲证件号码" name="FatherCardNum" id="FatherCardNum">
                                </li>
                                <li>
                                    <label>工作单位</label>
                                    <input type="text" placeholder="请输入父亲工作单位" name="FatherWorkUnit" id="FatherWorkUnit">
                                </li>
                                <li>
                                    <label>手机号</label>
                                    <input type="text" placeholder="请输入父亲手机号" name="FatherPhoneNum" id="FatherPhoneNum">
                                </li>
                                <li>
                                    <label>母亲姓名</label>
                                    <input type="text" placeholder="请输入母亲姓名" name="MotherName" id="MotherName">
                                </li>
                                <li>
                                    <label>证件类型</label>
                                    <input type="text" readonly="readonly" id="MotherCardTypes" placeholder="请选择">
                                    <input type="hidden" readonly="readonly" id="MotherCardTypeId" name="MotherCardTypeId">
                                </li>
                                <li>
                                    <label>证件号码</label>
                                    <input type="text" placeholder="请输入母亲证件号码" name="MotherCardNum" id="MotherCardNum">
                                </li>
                                <li>
                                    <label>工作单位</label>
                                    <input type="text" placeholder="请输入母亲工作单位" name="MotherWorkUnit" id="MotherWorkUnit">
                                </li>
                                <li>
                                    <label>手机号</label>
                                    <input type="text" placeholder="请输入母亲手机号" name="MotherPhoneNum" id="MotherPhoneNum">
                                </li>
                                <div class="cl"></div>

                            </div>
                        </ul>
                    </li>
                    <li class="tab_content">
                        <ul class="setFirm-box">
                            <div class="enterFor">
                                <li>
                                    <label>联系电话<span style="color: red">*</span></label>
                                    <input type="text" placeholder="请输入联系电话" name="otherTel" id="otherTel">
                                </li>
                                <li>
                                    <label>传染病史<span style="color: red">*</span></label>
                                    <textarea rows="4" placeholder="请如实填写幼儿传染病史" name="HasInfection" id="HasInfection"></textarea>
                                </li>
                                <li>
                                    <label>建行卡号<span style="color: red">*</span></label>
                                    <input type="text" placeholder="请输入幼儿姓名开户的建设银行卡号" name="BankCardNum" id="BankCardNum">
                                </li>
                                <li>
                                    <label>幼儿照片<span style="color: red">*</span></label>
                                    <div class="firmLicense-box" id="photo-img">
                                        <a href="javascript:;" class="Pu-Add-img">
                                            <img src="~/content/images/add-img.png">
                                            <input type="file" id="photoFiles" name="PhotoFiles" multiple accept="image/*" onchange="chooseImg('photo')">
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <label>全家福<span style="color: red">*</span></label>
                                    <div class="firmLicense-box" id="tijian-img">
                                        <a href="javascript:;" class="Pu-Add-img">
                                            <img src="~/content/images/add-img.png">
                                            <input type="file" id="tijianFiles" name="TijianFiles" multiple accept="image/*" onchange="chooseImg('tijian')">
                                        </a>
                                    </div>
                                </li>
                                <div class="cl">
                                    <button type="button" class="btn cy-btn" id="submitBtn">保存</button>
                                </div>

                            </div>
                        </ul>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <script src="~/content/stuAdd/js/jquery.min.js"></script>
    <script src="~/content/stuAdd/js/jquery.validate.min.js"></script>
    <script src="~/content/stuAdd/layer/mobile/layer.js"></script>
    
<script src="~/content/stuAdd/js/mobileSelect.js"></script>
<script src="~/content/LCalendar/js/LCalendar.js"></script>
    <script src="~/hui/js/hui.js"></script>
    <script type="text/javascript" src="~/hui/js/hui-form.js"></script>
    <script src="~/hui/js/hui-picker.js"></script>
    <script src="~/hui/js/cities.js"></script>
<script type="text/javascript">



    var calendar = new LCalendar();
    calendar.init({
        'trigger': '#BirthDate', //标签id
        'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
        'minDate': (new Date().getFullYear() - 6) + '-' + 1 + '-' + 1, //最小日期
        'maxDate': (new Date().getFullYear()) +
            '-' +
            (new Date().getMonth() + 1) +
            '-' +
            (new Date().getDate()) //最大日期,当前日期
    });

    $("#submitBtn").click(function(){
            if (FormCheckAttach()) {
                //var formData = $("#formAdd").serializeArray();
                var formData = new FormData(document.getElementById("formAdd"));
                var loading = layer.open({
                    shadeClose: false,
                    type: 2,
                    content: '保存中'
                });
                $.ajax({
                    url: '@Url.Action("AddInfo", "Home")',
                    type: 'POST',
                    dataType: 'JSON',
                    data: formData,
                    contentType: false, //必须false才能加上正确的contentType
                    processData: false, //必须false才能避开jq对formdata的默认处理
                    beforeSend: function() {
                        $("#submitBtn").attr({ disabled: "disabled" });
                    },
                    complete: function() {
                        layer.close(loading);
                        $("#submitBtn").attr({ disabled: false });
                    },
                    success: function(res) {
                        if (res.status == "ok") {
                            layer.open({
                                shadeClose: false,
                                content: '保存成功',
                                skin: 'msg',
                                time: 3, //3秒后自动关闭
                                end: function() {
                                    window.location.href = '@Url.Action("Main", "Home")';
                            }
                        });

                    }
                    else {
                        layer.open({
                            shadeClose: false,
                            content: '保存失败：'+res.errorMsg,
                            skin: 'msg',
                            time: 3 //3秒后自动关闭
                        });
                    }
                },
                    error: function (jqXHR, textStatus, errorThrown) {
                    layer.open({
                        shadeClose: false,
                        content: '网络异常,请联系管理员。' + jqXHR.status,
                        skin: 'msg',
                        time: 3 //3秒后自动关闭
                    });
                }
            });
        }
    });





    /*

    //表单元素数据收集演示
    hui('#submitBtn').click(function() {
        //var files = document.getElementById("photoFiles").files;
        var res = huiFormCheck('#form1');
        //提交
        if (res) {
            var data = hui.getFormData('#form1');
            //上传到服务端代码
            hui.ajax({
                type: 'POST',
                url: "/Home/AddInfo",
                data: data,
                backType: 'JSON',
                beforeSend: function() { //请求前执行的函数
                    hui.loading('提交中...');
                },
                complete: function() { //请求完成执行的函数，不论成功失败都会执行
                    hui.closeLoading();
                },
                success: function(msg) { //请求成功后执行的回调函数
                    if (msg.status == "ok") {
                        hui.iconToast('保存成功!');
                        //setTimeout(function () {
                        //    hui.formInit();
                        //}, 2000);
                        window.location.href = "/Home/Main/";
                    } else if (msg.status == "redirect") //登录超时
                    {
                        hui.toast(msg.errorMsg);
                        window.location.href = msg.data;
                    } else {
                        hui.toast('保存失败!' + msg.errorMsg);
                    }
                },
                error: function(e) { //请求失败时执行的回调函数
                    hui.toast('网络请求失败');
                }
            });

        }
    });
    */
    //附加验证函数用于特殊检查项目，日期
    function FormCheckAttach() {
        //姓名
        var name = hui("#name").val();
        if (name==null||name.length < 1) {
            //hui.toast('请填写姓名');
            layer.open({
                shadeClose: false,
                content: '请填写姓名',
                skin: 'msg',
                time: 3 //3秒后自动关闭
            });
            return false;
        }


        //出生日期
        var birthDate = hui("#BirthDate").val();
        if (birthDate==null||birthDate.length < 1) {
            //hui.toast('请选择出生日期');
            layer.open({
                shadeClose: false,
                content: '请选择出生日期',
                skin: 'msg',
                time: 3 //3秒后自动关闭
            });
            return false;
        }
        //幼儿身份证
        var idCardTypeId = hui("#IdCardTypeId").val();
        if (idCardTypeId == null||idCardTypeId==0) {
            //hui.toast('请选择幼儿证件类型');
            layer.open({
                shadeClose: false,
                content: '请选择幼儿证件类型',
                skin: 'msg',
                time: 3 //3秒后自动关闭
            });
            return false;
        }
        var idCardNum = hui("#IdCardNum").val();
        if (idCardTypeId != 7) //幼儿证件类型----其他
        {
            if (idCardNum==null||idCardNum.length <= 0) {
                //hui.toast('请填写正确的幼儿证件号码');
                layer.open({
                    shadeClose: false,
                    content: '请填写正确的幼儿证件号码',
                    skin: 'msg',
                    time: 3 //3秒后自动关闭
                });
                return false;
            }
        }
        //血型
        var bloodTypeId = hui("#BloodTypeId").val();
        if (bloodTypeId == null||bloodTypeId==0) {
            //hui.toast('请选择幼儿血型');
            layer.open({
                shadeClose: false,
                content: '请选择幼儿血型',
                skin: 'msg',
                time: 3 //3秒后自动关闭
            });
            return false;
        }
        //民族、户口
        var countryId = hui("#CountryId").val();
        var nationId = hui("#NationId").val();
        var huKouXingZhiId = hui("#HuKouXingZhiId").val();
        if (countryId == 34154) {
            if (nationId==null||nationId <= 0) {
                //hui.toast('中国国籍请选择民族');
                layer.open({
                    shadeClose: false,
                    content: '中国国籍请选择民族',
                    skin: 'msg',
                    time: 3 //3秒后自动关闭
                });
                return false;
            }
            if (huKouXingZhiId==null||huKouXingZhiId <= 0) {
                //hui.toast('中国国籍请选择户口性质');
                layer.open({
                    shadeClose: false,
                    content: '中国国籍请选择户口性质',
                    skin: 'msg',
                    time: 3 //3秒后自动关闭
                });
                return false;
            }
        }
        var feiNongHuKouTypeId = hui("#FeiNongHuKouTypeId").val();
        if (huKouXingZhiId == 38) {
            if (feiNongHuKouTypeId==null||feiNongHuKouTypeId == 0) {
                //hui.toast('非农户口请选择类型');
                layer.open({
                    shadeClose: false,
                    content: '非农户口请选择类型',
                    skin: 'msg',
                    time: 3 //3秒后自动关闭
                });
                return false;
            }
        }
        //港澳台侨
        var identities = hui("#Identities").val();
        if (identities == null||identities==0) {
            //hui.toast('请选择港澳台侨身份');
            layer.open({
                shadeClose: false,
                content: '请选择港澳台侨身份',
                skin: 'msg',
                time: 3 //3秒后自动关闭
            });
            return false;
        }
        //出圣地
        var birthPlaceId = hui("#BirthPlaceId").val();
        if (birthPlaceId == null || birthPlaceId == 0) {
            //hui.toast('请选择出生地');
            layer.open({
                shadeClose: false,
                content: '请选择出生地',
                skin: 'msg',
                time: 3 //3秒后自动关闭
            });
            return false;
        }
        //籍贯
        var priginPlace = hui("#PriginPlace").val();
        if (priginPlace==null||priginPlace.length<=0) {
            //hui.toast('请填写籍贯');
            layer.open({
                shadeClose: false,
                content: '请填写籍贯',
                skin: 'msg',
                time: 3 //3秒后自动关闭
            });
            return false;
        }
        //hukou
        var huKouPlaceId = hui("#HuKouPlaceId").val();
        if (huKouPlaceId == null || huKouPlaceId == 0) {
            //hui.toast('请选择户口地');
            layer.open({
                shadeClose: false,
                content: '请选择户口地',
                skin: 'msg',
                time: 3 //3秒后自动关闭
            });
            return false;
        }
        //现住址
        var homePlace = hui("#HomePlace").val();
        if (homePlace==null||homePlace.length <= 0) {
            //hui.toast('请填写现住址');
            layer.open({
                shadeClose: false,
                content: '请填写现住址',
                skin: 'msg',
                time: 3 //3秒后自动关闭
            });
            return false;
        }
        //是否残疾
        var isDisability = hui("#IsDisability").val();
        var disabilityTypeId = hui("#DisabilityTypeId").val();
        if (isDisability == "true") {
            if (disabilityTypeId==null||disabilityTypeId <= 0) {
                //hui.toast('请选择幼儿残疾类型');
                layer.open({
                    shadeClose: false,
                    content: '请选择幼儿残疾类型',
                    skin: 'msg',
                    time: 3 //3秒后自动关闭
                });
                return false;
            }
        }
        //父母信息
        var fatherName = hui("#FatherName").val();
        var fatherCardTypeId = hui("#FatherCardTypeId").val();
        var fatherCardNum = hui("#FatherCardNum").val();
        var fatherWorkUnit = hui("#FatherWorkUnit").val();
        var fatherPhoneNum = hui("#FatherPhoneNum").val();
        if (fatherName.length > 0) {
            if (fatherCardTypeId != 19) //成人证件类型----其他
            {
                if (fatherCardNum==null||fatherCardNum.length <= 0) {
                    //hui.toast('请填写父亲证件号码');
                    layer.open({
                        shadeClose: false,
                        content: '请填写父亲证件号码',
                        skin: 'msg',
                        time: 3 //3秒后自动关闭
                    });
                    return false;
                }
            }
            if (fatherWorkUnit==null||fatherWorkUnit.length <= 0) {
                //hui.toast('请填写父亲工作单位');
                layer.open({
                    shadeClose: false,
                    content: '请填写父亲工作单位',
                    skin: 'msg',
                    time: 3 //3秒后自动关闭
                });
                return false;
            }
            if (fatherPhoneNum==null||fatherPhoneNum.length <= 0) {
                //hui.toast('请填写父亲手机号');
                layer.open({
                    shadeClose: false,
                    content: '请填写父亲手机号',
                    skin: 'msg',
                    time: 3 //3秒后自动关闭
                });
                return false;
            }
        }
        var motherName = hui("#MotherName").val();
        var motherCardTypeId = hui("#MotherCardTypeId").val();
        var motherCardNum = hui("#MotherCardNum").val();
        var motherWorkUnit = hui("#MotherWorkUnit").val();
        var motherPhoneNum = hui("#MotherPhoneNum").val();
        if (motherName.length > 0) {
            if (motherCardTypeId != 19) //成人证件类型----其他
            {
                if (motherCardNum==null||motherCardNum.length <= 0) {
                    //hui.toast('请填写母亲证件号码');
                    layer.open({
                        shadeClose: false,
                        content: '请填写母亲证件号码',
                        skin: 'msg',
                        time: 3 //3秒后自动关闭
                    });
                    return false;
                }
            }
            if (motherWorkUnit==null||motherWorkUnit.length <= 0) {
                //hui.toast('请填写母亲工作单位');
                layer.open({
                    shadeClose: false,
                    content: '请填写母亲工作单位',
                    skin: 'msg',
                    time: 3 //3秒后自动关闭
                });
                return false;
            }
            if (motherPhoneNum==null||motherPhoneNum.length <= 0) {
                //hui.toast('请填写母亲手机号');
                layer.open({
                    shadeClose: false,
                    content: '请填写母亲手机号',
                    skin: 'msg',
                    time: 3 //3秒后自动关闭
                });
                return false;
            }
        }
        var otherTel = hui("#otherTel").val();
        if (otherTel==null||otherTel.length < 1) {
            //hui.toast('请填写联系电话');
            layer.open({
                shadeClose: false,
                content: '请填写联系电话',
                skin: 'msg',
                time: 3 //3秒后自动关闭
            });
            return false;
        }
        var hasInfection = hui("#HasInfection").val();
        if (hasInfection==null||hasInfection.length < 1) {
            //hui.toast('请填写传染病史');
            layer.open({
                shadeClose: false,
                content: '请填写传染病史',
                skin: 'msg',
                time: 3 //3秒后自动关闭
            });
            return false;
        }
        var bankCardNum = hui("#BankCardNum").val();
        if (bankCardNum==null||bankCardNum.length < 1) {
            //hui.toast('请填写建行卡号');
            layer.open({
                shadeClose: false,
                content: '请填写建行卡号',
                skin: 'msg',
                time: 3 //3秒后自动关闭
            });
            return false;
        }
        var photoFiles = document.getElementById("photoFiles").files;
        if (photoFiles && photoFiles[0]) {
            if (getFileSize(photoFiles[0]) > 1) {
                layer.open({
                    shadeClose: false,
                    content: '幼儿照片不能大于1M',
                    skin: 'msg',
                    time: 3 //3秒后自动关闭
                });

                return false;
            }
        } else {
            layer.open({
                shadeClose: false,
                content: '请选择幼儿照片',
                skin: 'msg',
                time: 3 //3秒后自动关闭
            });
            return false;
        }
        //全家福
        var tijianFiles = document.getElementById("tijianFiles").files;
        if (tijianFiles && tijianFiles[0]) {
            if (getFileSize(tijianFiles[0]) > 1) {
                layer.open({
                    shadeClose: false,
                    content: '全家福照片不能大于1M',
                    skin: 'msg',
                    time: 3 //3秒后自动关闭
                });

                return false;
            }
        } else {
            layer.open({
                shadeClose: false,
                content: '请选择全家福照片',
                skin: 'msg',
                time: 3 //3秒后自动关闭
            });
            return false;
        }
        return true;
    }

    function getFileSize(file) {
        var fileSize = 0;
        fileSize = file.size;
        fileSize = fileSize / 1048576;
        return fileSize;
    }


    function chooseImg(type) {
        var imgs = document.getElementsByClassName("imgselect" + type);
        if (imgs) {
            //把之前加载的图片清空掉
            var len = imgs.length;
            for (var i = len - 1; i >= 0; i--) {
                imgs[i].parentNode.removeChild(imgs[i]);
            }
        }
        var files = document.getElementById(type + "Files").files;
        if (files && files[0]) {
            for (var i = 0; i < files.length; i++) {
                $("#" + type + "-img").prepend('<a href="javascript:; " class="imgselect' +
                    type +
                    '"><img  src="' +
                    window.URL.createObjectURL(files[i]) +
                    '"></a>');
            }
        }
    }


    //出生地 id
    var picker2 = new huiPicker("#btnBirth",
        function () {
            var diqu;
            var sheng = picker2.getText(0);
            var shi = picker2.getText(1);
            var xianqu = picker2.getText(2);
            var shengCode = picker2.getVal(0);
            var shiCode = picker2.getVal(1);
            var xianCode = picker2.getVal(2);
            var code;
            if (xianCode == null || xianCode.length <= 0) {
                if (shiCode == null || shiCode.length <= 0) {
                    diqu = sheng;
                    code = shengCode;
                } else {
                    diqu = sheng + '-' + shi ;
                    code = shiCode;
                }
            } else {
                diqu = sheng + '-' + shi + '-' + xianqu;;
                code = xianCode;
            }
            hui("#btnBirth").val(diqu);
            hui("#BirthPlaceId").val(code);
        });
    picker2.level = 3;
    picker2.bindRelevanceData(cities);

    //户口所在地id
    var picker = new huiPicker("#btnHuKou",
        function () {
            var diqu;
            var sheng = picker.getText(0);
            var shi = picker.getText(1);
            var xianqu = picker.getText(2);
            var shengCode = picker.getVal(0);
            var shiCode = picker.getVal(1);
            var xianCode = picker.getVal(2);
            var code;
            if (xianCode == null || xianCode.length <= 0) {
                if (shiCode == null || shiCode.length <= 0) {
                    diqu = sheng;
                    code = shengCode;
                } else {
                    diqu =sheng+'-'+shi;
                    code = shiCode;
                }
            } else {
                diqu = sheng + '-' +shi+'-'+xianqu;
                code = xianCode;
            }

            hui("#btnHuKou").val(diqu);
            hui("#HuKouPlaceId").val(code);
        });
    picker.level = 3;
    picker.bindRelevanceData(cities);

    /*
    $(document).ready(function() {
        $("#dtBox").DateTimePicker();
    });*/
    //TAB切换
    var tab_Btns_box = document.getElementById('tab_btn');
    var tab_Btns = tab_Btns_box.getElementsByTagName('li');
    var tab_contents = document.getElementsByClassName('tab_content');
    for (var i = 0; i < tab_Btns.length; i++) {
        tab_Btns[i].index = i;

        tab_Btns[i].onclick = function() {
            for (var i = 0; i < tab_Btns.length; i++) {
                if (i !== this.index) {
                    tab_Btns[i].classList.remove('pick');
                }
            }
            tab_Btns[this.index].className = "pick";

            for (var j = 0; j < tab_contents.length; j++) {
                if (j !== this.index) {
                    tab_contents[j].classList.remove('show');
                }
                tab_contents[this.index].classList.add('show');
            }
        }
    }
    if ('@Model.ShowChooseClass'==='True') {
        //班级
        var classNames = new MobileSelect({
            trigger: "#ClassNames",
            title: "班级",
            wheels: [
                { data: @Html.Raw(Model.Classes) }
            ],
            transitionEnd: function(indexArr, data) {
                //console.log(data);
            },
            callback: function(indexArr, data) {
                //console.log(data);
                $("#ClassNames").val(data[0].value);
                $("#ClassId").val(data[0].id);
            }
        });
    }
    //证件类型
    var idCardTypes = new MobileSelect({
        trigger: "#IdCardTypes",
        title: "身份证件类型",
        wheels: [
            { data: @Html.Raw(Model.IdCardTypes)}
        ],
        transitionEnd:function(indexArr, data){
            console.log(data);
        },
        callback:function(indexArr, data){
            console.log(data);
            $("#IdCardTypes").val(data[0].value);
            $("#IdCardTypeId").val(data[0].id);
        }
    });
    //血型
    var bloodTypes = new MobileSelect({
        trigger: "#BloodTypes",
        title: "血型",
        wheels: [
            { data: @Html.Raw(Model.BloodTypes)}
        ],
        transitionEnd:function(indexArr, data){
            //console.log(data);
        },
        callback:function(indexArr, data){
            //console.log(data);
            $("#BloodTypes").val(data[0].value);
            $("#BloodTypeId").val(data[0].id);
        }
    });
    //国籍
    var countries = new MobileSelect({
        trigger: "#Countries",
        title: "国籍",
        wheels: [
            { data: @Html.Raw(Model.Countries)}
        ],
        transitionEnd:function(indexArr, data){
            //console.log(data);
        },
        callback:function(indexArr, data){
            //console.log(data);
            $("#Countries").val(data[0].value);
            $("#CountryId").val(data[0].id);
        }
    });
    //民族
    var nations = new MobileSelect({
        trigger: "#Nations",
        title: "民族",
        wheels: [
            { data: @Html.Raw(Model.Nations)}
        ],
        transitionEnd:function(indexArr, data){
            //console.log(data);
        },
        callback:function(indexArr, data){
            //console.log(data);
            $("#Nations").val(data[0].value);
            $("#NationId").val(data[0].id);
        }
    });
    //港澳台侨
    var identities = new MobileSelect({
        trigger: "#Identities",
        title: "港澳台侨外",
        wheels: [
            { data: @Html.Raw(Model.Identities)}
        ],
        transitionEnd:function(indexArr, data){
            //console.log(data);
        },
        callback:function(indexArr, data){
            //console.log(data);
            $("#Identities").val(data[0].value);
            $("#IdentityId").val(data[0].id);
        }
    });
    //户口性质
    var huKouXingZhi = new MobileSelect({
        trigger: "#HuKouXingZhi",
        title: "户口性质",
        wheels: [
            { data: @Html.Raw(Model.HuKouXingZhi)}
        ],
        transitionEnd:function(indexArr, data){
            //console.log(data);
        },
        callback:function(indexArr, data){
            //console.log(data);
            $("#HuKouXingZhi").val(data[0].value);
            $("#HuKouXingZhiId").val(data[0].id);
        }
    });
    //非农类型
    var feiNongHuKouTypes = new MobileSelect({
        trigger: "#FeiNongHuKouTypes",
        title: "非农户口类型",
        wheels: [
            { data: @Html.Raw(Model.FeiNongHuKouTypes)}
        ],
        transitionEnd:function(indexArr, data){
            //console.log(data);
        },
        callback:function(indexArr, data){
            //console.log(data);
            $("#FeiNongHuKouTypes").val(data[0].value);
            $("#FeiNongHuKouTypeId").val(data[0].id);
        }
    });
    //就读方式
    var studyTypes = new MobileSelect({
        trigger: "#StudyTypes",
        title: "就读方式",
        wheels: [
            { data: @Html.Raw(Model.StudyTypes)}
        ],
        transitionEnd:function(indexArr, data){
            //console.log(data);
        },
        callback:function(indexArr, data){
            //console.log(data);
            $("#StudyTypes").val(data[0].value);
            $("#StudyTypeId").val(data[0].id);
        }
    });
    //留守儿童
    var isStayAtHome = new MobileSelect({
        trigger: "#IsStayAtHome",
        title: "是否留守儿童",
        wheels: [
            { data: @Html.Raw(Model.IsStayAtHome)}
        ],
        transitionEnd:function(indexArr, data){
            //console.log(data);
        },
        callback:function(indexArr, data){
            //console.log(data);
            $("#IsStayAtHome").val(data[0].value);
            $("#IsStayAtHomeId").val(data[0].id);
        }
    });

    //健康状况
    var healthyTypes = new MobileSelect({
        trigger: "#HealthyTypes",
        title: "健康状况",
        wheels: [
            { data: @Html.Raw(Model.HealthyTypes)}
        ],
        transitionEnd:function(indexArr, data){
            //console.log(data);
        },
        callback:function(indexArr, data){
            //console.log(data);
            $("#HealthyTypes").val(data[0].value);
            $("#HealthyTypeId").val(data[0].id);
        }
    });

    //残疾类别
    var disabilityTypes = new MobileSelect({
        trigger: "#DisabilityTypes",
        title: "残疾类别",
        wheels: [
            { data: @Html.Raw(Model.DisabilityTypes)}
        ],
        transitionEnd:function(indexArr, data){
            //console.log(data);
        },
        callback:function(indexArr, data){
            //console.log(data);
            $("#DisabilityTypes").val(data[0].value);
            $("#DisabilityTypeId").val(data[0].id);
        }
    });
    //监护人证件类型
    var guardianCardTypes = new MobileSelect({
        trigger: "#GuardianCardTypes",
        title: "证件类型",
        wheels: [
            { data: @Html.Raw(Model.AdultIdCardTypes)}
        ],
        transitionEnd:function(indexArr, data){
            //console.log(data);
        },
        callback:function(indexArr, data){
            //console.log(data);
            $("#GuardianCardTypes").val(data[0].value);
            $("#GuardianCardTypeId").val(data[0].id);
        }
    });
    //母亲证件类型
    var motherCardTypes = new MobileSelect({
        trigger: "#MotherCardTypes",
        title: "证件类型",
        wheels: [
            { data: @Html.Raw(Model.AdultIdCardTypes)}
        ],
        transitionEnd:function(indexArr, data){
            //console.log(data);
        },
        callback:function(indexArr, data){
            //console.log(data);
            $("#MotherCardTypes").val(data[0].value);
            $("#MotherCardTypeId").val(data[0].id);
        }
    });


    //父亲证件类型
    var fatherCardTypes = new MobileSelect({
        trigger: "#FatherCardTypes",
        title: "证件类型",
        wheels: [
            { data: @Html.Raw(Model.AdultIdCardTypes)}
        ],
        transitionEnd:function(indexArr, data){
            //console.log(data);
        },
        callback:function(indexArr, data){
            //console.log(data);
            $("#FatherCardTypes").val(data[0].value);
            $("#FatherCardTypeId").val(data[0].id);
        }
    });

</script>
</body>
</html>